* {
    overflow: hidden;
}

.main {

    background-image: url("img/b.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.characters {
    height: 30vh;
    position: absolute;
   
    bottom: 80px;
}
#character1{
    left: 30vw;
}

#character2{
    left: 60vw;
}
#toggle-button {
    width: 50px;
    height: 50px;


    
    background-size: cover;
    border-radius: 25px;
    cursor: pointer;
}

.play {
    background-image: url('img/audio.webp');
}

.pause {
    background-image: url('img/audiono.png');
}
